{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- About -->
<section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <!-- <h2 class="section-heading text-uppercase" tag="citation">About Us</h2> -->

            <h2 class="section-heading text-uppercase" style="color: black; margin-bottom: 2em;"><a href="https://leeoesterreich.org/" target="_blank">
              <span style="color: black;">About Us</span></a></h2>
            <h4>Principle Investigators:</h4>
            <br>
            <div style="display: flex; text-align: center;">
              <div>
                <img src="{% static 'base/img/AdrianLee.jpeg' %}" width="150px">
                <a href="https://leeoesterreich.org/adrian-lee-ph-d" target="_blank" style="color: black;"><p>Adrian Lee, Ph.D</p></a>
              </div>
              <div style="width:10vw"></div>

              <div>
                <img src="{% static 'base/img/SteffiOesterreich.jpeg' %}" width="150px">
                <a href="https://leeoesterreich.org/steffi-oesterreich-ph-d" target="_blank" style="color: black;"><p>Steffi Oesterreich, PhD</p></a>
              </div>
            </div>
            <br>
            <h4>Active Team Member</h4><br>
            <div style="display: flex; text-align: center;">
              <div>
                <img src="{% static 'base/img/tianqinli.png' %}" width="150px">
                <a href="https://www.linkedin.com/in/tianqin-li-b16299170/" target="_blank" style="color: black;"><p>Tianqin Li</p></a>
              </div>
              <div style="width:11vw"></div>
              <div>
                <img src="{% static 'base/img/zheqili.jpg' %}" width="150px">
                <a href="https://leeoesterreich.org/zheqi-vaciry-li" target="_blank" style="color: black;"><p>Zheqi Li, PhD</p></a>
              </div>
              <div style="width:11vw"></div>
              <div>
                <img src="{% static 'base/img/MeganYates.jpeg' %}" width="150px">
                <a href="https://leeoesterreich.org/megan-yates" target="_blank" style="color: black;"><p>Megan Yates</p></a>
              </div>
            </div><br>
            
            <h4>Consulting Board</h4><br>
            <div style="display: flex; text-align: center;">
              <div>
                <img src="{% static 'base/img/JasonCarroll.png' %}" width="150px" height="150px">
                <a href="http://www.carroll-lab.org.uk/" target="_blank" style="color: black;"><p>Jason Carroll PhD</p></a>
              </div>
              <div style="width:11vw"></div>
              <div>
                <img src="{% static 'base/img/MatthewSikora.png' %}" width="150px">
                <a href="https://www.sikoralab.com/" target="_blank" style="color: black;"><p>Matthew Sikora PhD</p></a>
              </div>
              <div style="width:11vw"></div>
              <div>
                <img src="{% static 'base/img/GeorgeTseng.png' %}" width="150px">
                <a href="https://sites.pitt.edu/~ctseng/" target="_blank" style="color: black;"><p>George Tseng, ScD</p></a>
              </div>
            </div>
            <br>
            <h4>Previous Team members</h4><br>
            <ul>
              <li>Yang Wu</li>
              <li>Lyuqin Chen, PhD</li>
              <li>Dorothy Carter</li>
              <li>Amanda Ferber</li>
            </ul>
            

          </div>
        </div>
      </div>
      
    
    
      
    </section>

    
{% endblock %}
